<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Libro de visitas del hotel Filton</title>
    </head>

    <body>
        <h1>Bienvenido al Hotel Filton</h1>
        <h2>Deje un mensaje en nuestro libro de visitas</h2>

        <form method="post" action="/result">
            <input type="text" name="nombre" placeholder="escriba su nombre"/><br><br>
            <input type="email" name="email" placeholder="email"/><br><br>
            <textarea name="texto" required rows="10" cols="40" placeholder="escriba aquí el texto"></textarea><br><br>

            <button type="submit">Publicar</button>
        </form>
    </body>
</html>